@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Nunito Sans', sans-serif;

    --main-text-color: #eaeaea;
    --highlight-text-color: #FF5722;

    --nav-bg-color: #1e1e1e;
    --card-bg-color: #1e1e1e;



    --background-color: #121212;

}

* {
    font-family: var(--main-font);
}